<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KittenBook.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>KittenBookKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>267CE90C1DDE499C0070FF5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>267CE9201DDE499D0070FF5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>267CE9541DDE4F850070FF5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>267CE95C1DDE4F850070FF5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
